
.container {
    background-image: url(/src/images/home-bg.svg);
    background-size: 1100px;
    min-width: 100%;
    /* min-height: 100vh; */
    /* position: fixed; */
    /* max-height: 100vh; */
    background-color: white;
    animation: bg 30s linear infinite;
}

@keyframes bg {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 500px 0;
    }
}